# Files built by Premake.
.vs/
x64/
build/
Engine/bin/
Engine/int/

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Assimp example models.
Engine/Source/ThirdParty/assimp/test/models/*
Engine/Source/ThirdParty/assimp/test/models-nonbsd/*
