# Files built by Premake
.vs/
build/
Engine/Binary/
Engine/VSConfig/

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# assimp example models
Engine/Source/ThirdParty/assimp/test/models/*
Engine/Source/ThirdParty/assimp/test/models-nonbsd/*